



   <%- include('../includes/head.ejs') %>
 <script src="/js/jquery.min.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/main.css">
   </head>
   
   <body>
   <%- include('../includes/navigation.ejs') %>
   

<section>
  
    <img class="mySlides" src="/images/img/main.jpg">
    <img class="mySlides" src="/images/img/main2.jpg">
    <img class="mySlides" src="/images/img/main3.jpg">
    <img class="mySlides" src="/images/img/main4.jpg">
    <img class="mySlides" src="/images/img/main5.jpg">
   </section>


   <div class="gif">
       <img src="/images/img/main.gif" alt="" />
   </div>
   
   <main>
    <% if (prods.length > 0) { %>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% for (let i = 0; i < prods.length; i+=3) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <div class="row-pro"> 
                            <% for (let j = i; j < i + 3 && j < prods.length; j++) { %>
                            <div class="col-md-4">
                                <a href="/products/<%= prods[j]._id %>">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="/<%= prods[j].imageUrl %>" alt="<%= prods[j].title %>">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= prods[j].title %></h5>
                                            <!-- Add more card content here -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>

 
   <%- include('../includes/pagination.ejs') %>



   </main>

   <%- include('../includes/sofa-company.ejs') %>
  
   <%- include('../includes/footer.ejs') %>
   
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>




<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      
    }


    </script>
    
